
!
! Last configuration change at 03:31:34 UTC Sat May 28 1994 by admin
!
version 12.2
no service pad
service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption
!
hostname sw-2960g-oob-13-1-M-01
!
boot-start-marker
boot-end-marker
!
enable secret 5 $1$K/zc$pxk9wIpkbIJXcyNFBNey2.
enable password 7 0118245658065206106179
!
username admin password 7 020D2609080B5B287D633E
username kmontgomery password 7 0100072D0F07211A27
aaa new-model
!
!
!
!
!
!
!
aaa session-id common
system mtu routing 1500
vtp domain BLDG13-1
vtp mode transparent
!
!
ip dhcp snooping vlan 1040
ip domain-list oob.ccollab.net
ip domain-lookup source-interface Vlan1040
ip domain-name oob.ccollab.net
ip name-server 172.16.0.4
ip name-server 172.16.8.2
!
!
crypto pki trustpoint TP-self-signed-532439680
 enrollment selfsigned
 subject-name cn=IOS-Self-Signed-Certificate-532439680
 revocation-check none
 rsakeypair TP-self-signed-532439680
!
!
crypto pki certificate chain TP-self-signed-532439680
 certificate self-signed 01
  3082024F 308201B8 A0030201 02020101 300D0609 2A864886 F70D0101 04050030 
  30312E30 2C060355 04031325 494F532D 53656C66 2D536967 6E65642D 43657274 
  69666963 6174652D 35333234 33393638 30301E17 0D393330 33303130 30303131 
  315A170D 32303031 30313030 30303030 5A303031 2E302C06 03550403 1325494F 
  532D5365 6C662D53 69676E65 642D4365 72746966 69636174 652D3533 32343339 
  36383030 819F300D 06092A86 4886F70D 01010105 0003818D 00308189 02818100 
  D223DC8F B87627ED FA312648 3CD1633B 3CEFFBE4 F2007E7D 72158FF7 8663428A 
  CA9CD852 B038D432 4CD4ECE6 BAB1C38F 37E5CEF9 BEE865C5 8848EC37 40693A02 
  62EA79C1 EFA9BAA2 149FF19B BC97AC6A 2037CE7B 9D7E9B51 5D8DB657 1BBACA8F 
  BDDDFB66 9862D2D2 380368CE B661B4EF 2D4B7951 9CBC9616 5A1D19D6 055F8CE9 
  02030100 01A37930 77300F06 03551D13 0101FF04 05300301 01FF3024 0603551D 
  11041D30 1B821973 772D6F6F 622D3031 2E6F6F62 2E63636F 6C6C6162 2E6E6574 
  301F0603 551D2304 18301680 14747572 CD4ADDCC 3C4B9DE3 70C744DE 667E13A3 
  F9301D06 03551D0E 04160414 747572CD 4ADDCC3C 4B9DE370 C744DE66 7E13A3F9 
  300D0609 2A864886 F70D0101 04050003 8181005F 9BADDFC9 F13785A2 A6104716 
  35EEF9EA 223976A9 75E20BB4 59E34C47 D3AA5409 E8071F34 617CB9EE E0E3B724 
  9967BF96 D20E00A1 198299B8 C7B85163 C1C132AE 4980DD69 35AA6156 9FECD7FC 
  2901C734 B0843DF0 D4D9F6F9 6A8D32F3 C1501F17 4E8A0366 5D2F3C01 F09BE18A 
  DC0E1F33 FC48DD6C ACE8445D C3DC6A7D C781D2
  	quit
!
!
!
!
spanning-tree mode mst
spanning-tree extend system-id
!
spanning-tree mst configuration
 name ccollab
 revision 1
 instance 1 vlan 1-1039, 1041-4094
 instance 2 vlan 1040
!
!
vlan internal allocation policy ascending
!
vlan 1040
 name OOB
lldp run
!
ip tftp source-interface Vlan1040
!
!
!
!
!
interface GigabitEthernet0/1
 description 13-1-M Port 8 - to OB1 LAN1
 switchport access vlan 1040
 switchport mode access
!
interface GigabitEthernet0/2
 description 13-1-M Port 9 - to OB2 LAN2
 switchport access vlan 1040
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/3
 description Port G7-E; (Next to Kendal's Desk - On Column)
 switchport access vlan 1040
 switchport mode access
 shutdown
 spanning-tree portfast
!
interface GigabitEthernet0/4
 description Port E7-C; Behind Network Cabinet in 13-1-161
 switchport access vlan 1040
 switchport mode access
!
interface GigabitEthernet0/5
 description 13-1-M Port 9
 switchport access vlan 1040
 switchport mode access
!
interface GigabitEthernet0/6
 description Port D8-F; Next to TruPortal system in 13-1-161
 switchport access vlan 1040
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/7
 switchport access vlan 1040
 switchport mode access
!
interface GigabitEthernet0/8
 switchport access vlan 1040
 switchport mode access
!
interface GigabitEthernet0/9
 switchport access vlan 1040
 switchport mode access
!
interface GigabitEthernet0/10
 switchport access vlan 1040
 switchport mode access
!
interface GigabitEthernet0/11
 switchport access vlan 1040
 switchport mode access
!
interface GigabitEthernet0/12
 switchport access vlan 1040
 switchport mode access
!
interface GigabitEthernet0/13
 switchport access vlan 1040
 switchport mode access
!
interface GigabitEthernet0/14
 switchport access vlan 1040
 switchport mode access
!
interface GigabitEthernet0/15
 switchport access vlan 1040
 switchport mode access
!
interface GigabitEthernet0/16
 switchport access vlan 1040
 switchport mode access
!
interface GigabitEthernet0/17
 description sw-ex3300-lan-01 uplink to ge-0/0/21 (lacp)
 switchport access vlan 1040
 shutdown
!
interface GigabitEthernet0/18
 description sw-ex3300-lan-02 uplink to ge-0/0/21 (lacp)
 switchport access vlan 1040
 shutdown
!
interface GigabitEthernet0/19
 description sw-ex3300-lan-01 mgmt port
 switchport access vlan 1040
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/20
 description sw-ex3300-lan-02 mgmt port
 switchport access vlan 1040
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet0/21
 switchport access vlan 1040
 switchport mode access
 shutdown
!
interface GigabitEthernet0/22
 switchport access vlan 1040
 switchport mode access
 shutdown
!
interface GigabitEthernet0/23
 switchport access vlan 1040
 switchport mode access
 shutdown
!
interface GigabitEthernet0/24
 description sw-ex2200-oob-13-2-01 uplink to port ge-0/0/22
 switchport access vlan 1040
 switchport mode access
 media-type rj45
 duplex auto
!
interface Vlan1
 no ip address
!
interface Vlan1040
 ip address 172.16.4.3 255.255.255.0
!
ip default-gateway 172.16.4.1
ip http server
ip http secure-server
logging esm config
snmp-server community 4WUcvyi}Z5#Q%<>m RO
!
!
!
line con 0
line vty 0 4
 password 7 1519295E07277F2D191E02
line vty 5 15
 password 7 1519295E07277F2D191E02
!
end
